:root{
	--maincolor:#606B56;
	--secondarycolor:#515a48;


     --bordercolor:#161914;


	--mainText:#fff;
	--secondaryText:#eeeeee;

    --themeDotBorder:#FFF;

    --previewBg:rgb(81,90,72,0.8);

    --previewShadow:#2a2f25;

    --buttoncolor:#669966;
}
